.container{
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  background-color: rgb(249, 249, 249);
}
body{
  background-color: rgb(251, 251, 251);
}
hr{
  width: 100%;
  color: rgba(249, 249, 249, 0.288);
}
a{
  text-decoration: none;
  color: rgb(0, 140, 255);
}

/* Footer */
.footer{
  text-align: left;
  padding: .5rem;
  background-color: rgb(48, 48, 48);
  color: rgb(251, 251, 251);
}
.footer p{
  margin: 0;
  font-size: 11pt;
}
.footer a{
  text-decoration: none;
  color: rgba(172, 208, 255, 0.671);
}

/* Search */
.search-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 11pt;
}
.search-bar {
  display: flex;
  align-self: center;
  align-items: baseline;
}
.search-bar input[type=text]{
  padding: .5rem;
  margin: .05rem;
  border: 1px solid rgb(231, 229, 229);
  font-size: inherit;
}
.search-bar input[type=submit]{
  color: white;
  border: 1px solid rgb(0, 140, 255);
  background-color: rgb(0, 140, 255);
  border: none;
  padding: .5rem;
  font-size: inherit;
}


/* Desktop */
@media (min-width:1281px)  {
  .container{
    width: 80%;
  }
}